<template>
    <div>
        <b-row>
            <b-col>
                <div  class="text-left mt-2 ml-2">
                    <h2>Pokemon Cards</h2>
                </div>
            </b-col>
            <b-col>
                <div class="text-right mt-2 mr-2">
                    <b-button @click="logout" variant="outline-primary">Logout</b-button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
export default {
    name: 'Header',
    methods: {
        logout() {
            localStorage.removeItem('isLoggedOn');
            this.$router.push({ name: 'Login' });
        }
    }
}
</script>