<template>
  <div class="home">
    <Header/>
    <Cards/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from '../views/Header.vue';
import Cards from '../components/Cards.vue';

@Component({
  components: {
      Header,
      Cards,
  },
})
export default class Home extends Vue {}
</script>
