<template>
    <div class="mt-5">
        <div>
            <b-row>
                <b-col></b-col>
                <b-col cols="3" md="3" sm="2">
                    Sort Order: <b-form-select @change="handlePageSort" v-model="selectedSortOrder" :options="sortOptions"></b-form-select>
                </b-col>
                <b-col></b-col>
            </b-row>
        </div>
        <div class="mt-5">
            <b-overlay class="mt-5 mb-5" style="min-height: 200px" :show="isLoading" rounded="lg">
                <b-row>
                    <b-col></b-col>
                    <b-col cols="8" md="10" sm="12">
                        <b-row>
                            <b-col class="mt-4 mb-2" cols="3" sm="3" 
                            v-for="(item, index) in pokemonCards.data" v-bind:key="index">
                                <img :src="item.images.small" style="width: 80%">
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </b-overlay>
        </div>
        <center>
            <b-pagination class="mt-5 mb-5"
            @change="handlePageChange"
            v-model="currentPage"
            :total-rows="totalCount"
            :per-page="perPage"
            align="center"
            ></b-pagination>
        </center>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'Cards',
    data() {
        return {
            isLoading: false,
            pokemonCards: [],
            totalCount: 0,
            perPage: 20,
            currentPage: 1,
            selectedSortOrder: 'name',
            sortOptions: [
                { value: 'name', text: 'Pokemon Name ASC' },
                { value: '-name', text: 'Pokemon Name DESC' },
                { value: 'type', text: 'Pokemon Type ASC' },
                { value: '-type', text: 'Pokemon Type DESC' },
                { value: 'rarity', text: 'Pokemon Rarity ASC' },
                { value: '-rarity', text: 'Pokemon Rarity DESC' },
                { value: 'set.id', text: 'Pokemon Set ASC' },
                { value: '-set.id', text: 'Pokemon Set DESC' }
            ]
        }
    },
    created() {
        
        this.handleCardList(this.currentPage, this.selectedSortOrder);
    },
    methods: {
        async getPokemonCards(params) {
            const apiURL = process.env.VUE_APP_POKEMON_API_URL;
            const apiKey = process.env.VUE_APP_POKEMON_API_KEY;
            return await axios.get(
                apiURL + '/v2/cards',
                {
                    params,
                    headers: {'X-Api-Key': apiKey}
                }
            ).then((response) => {
                return response.data;
            });
        },
        handleCardList(page, sortorder) {
            this.pokemonCards = [];
            this.currentPage = page;
            let params = {
                q: 'supertype:pokemon',
                pageSize: this.perPage,
                page: page,
                orderBy: sortorder
            };
            this.isLoading = true;
            this.getPokemonCards(params).then((result) => {
                this.isLoading = false;
                this.totalCount = result.totalCount;
                this.pokemonCards = result;
            });
        },
        handlePageChange(page) {
            this.handleCardList(page, this.selectedSortOrder);
        },
        handlePageSort() {
            this.currentPagepage = 1;
            this.handleCardList(this.currentPagepage, this.selectedSortOrder);
        }
    }
}
</script>