<template>
    <div class="mt-5">
        <h3>Login</h3>
        <hr>
        <b-row>
            <b-col></b-col>
            <b-col cols="4">
                <b-form @submit.prevent="login">
                    <b-form-group id="username-input-grp" label="Username" label-for="username">
                        <b-form-input
                        id="username"
                        v-model="form.username"
                        required
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group id="password-input-grp" label="Password" label-for="password">
                        <b-form-input
                        id="password"
                        v-model="form.password"
                        type="password"
                        required
                        ></b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Sign In</b-button>
                </b-form>
            </b-col>
            <b-col></b-col>
        </b-row>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data() {
      return {
        form: {
            username: '',
            password: ''
        },
        isLoading: false
      }
    },
    created() {
        const isLoggedOn = localStorage.getItem('isLoggedOn');
        if (isLoggedOn === 'true') {
            this.$router.push({name: 'Home'});
        }
    },
    methods: {
        login() {
            const { username, password } = this.form;
            const users = ['tony.stark', 'steve.rogers'];
            if (users.includes(username) && password === 'pass123') {
                localStorage.setItem('isLoggedOn', true);
                this.$router.push({name: 'Home'});
            } else {
                localStorage.removeItem('isLoggedOn');
            }
        }
    }
}
</script>