<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

.spinner-border {
    width: 8rem !important;
    height: 8rem !important;
    border-width: .5em !important;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
